doctype html
html
  head
    title telebearsRTC-API test
  body
    p This is noise.
    p This is noise.
    table
      tr
        td This is more noise.
        td This is more noise.
        td This is more noise.
      tr
        td This is more noise.
        td This is more noise.
        td This is more noise.
      tr
        td This is information that we want!
        td Here is some more useful information.
        td Omnomnom, another line of information.
        td Look at me writing test cases when there's science to do.
    p This is noise.