doctype html
html
  head
    title telebearsRTC-API test
  body
    p This is noise.
    p This is noise.
    table
      tr
        td This is more noise.
      tr
        td This is more noise.
        td This is more noise.
      tr
        td Hrnghhh, everything has chaaaaanged.
    p This is noise.